In [1]:
import pandas as pd

data= pd.read_csv('data/car_template.csv')

In [2]:
import AutoVega.visualize as autovis
# from autoVega import visualize
test = autovis(data)
# test = autovis(data, chart="violinplot")

In [3]:
test._label_column

['name', 'fuel', 'seller_type', 'transmission', 'owner']

In [4]:
test._numerical_column

['selling_price', 'km_driven']

In [5]:
test._date_column

['year']

In [6]:
test.plot()

None
['histogram', 'scatterchart', 'linechart', 'boxplot', 'areachart', 'piechart', 'donutchart']
You havenâ€™t selected the chart type for your query result visualization.
Based on your query result data, we suggest to choose one of the following chart type: ['histogram', 'scatterchart', 'linechart', 'boxplot', 'areachart', 'piechart', 'donutchart']

We show below two of them ('scatterchart', 'areachart', 'histogram', 'piechart') as illustrations:
scatterchart {'x': {'field': 'selling_price', 'type': 'quantitative'}, 'y': {'field': 'km_driven', 'type': 'quantitative'}}
areachart {'x': {'field': 'year'}, 'y': {'field': 'selling_price'}, 'color': {'field': 'name', 'scale': {'scheme': 'category20b'}}}
histogram {'x': {'field': 'bin_start', 'title': 'selling_price'}, 'x2': {'field': 'bin_end'}, 'y': {'field': 'count', 'type': 'quantitative'}}
piechart {'theta': {'field': 'selling_price', 'type': 'quantitative'}, 'color': {'field': 'name', 'type': 'nominal'}}

[{'data': {'values': [{'selling_price': 60000.0, 'km_driven': 70000.0},
    {'selling_price': 135000.0, 'km_driven': 50000.0},
    {'selling_price': 600000.0, 'km_driven': 100000.0},
    {'selling_price': 250000.0, 'km_driven': 46000.0},
    {'selling_price': 450000.0, 'km_driven': 141000.0},
    {'selling_price': 140000.0, 'km_driven': 125000.0},
    {'selling_price': 550000.0, 'km_driven': 25000.0},
    {'selling_price': 240000.0, 'km_driven': 60000.0},
    {'selling_price': 850000.0, 'km_driven': 25000.0},
    {'selling_price': 365000.0, 'km_driven': 78000.0},
    {'selling_price': 260000.0, 'km_driven': 35000.0},
    {'selling_price': 250000.0, 'km_driven': 100000.0},
    {'selling_price': 1650000.0, 'km_driven': 25000.0},
    {'selling_price': 60000.0, 'km_driven': 70000.0},
    {'selling_price': 135000.0, 'km_driven': 50000.0},
    {'selling_price': 600000.0, 'km_driven': 100000.0},
    {'selling_price': 250000.0, 'km_driven': 46000.0},
    {'selling_price': 450000.0, 'km_driven': 141000.0},
    {'selling_price': 140000.0, 'km_driven': 125000.0},
    {'selling_price': 550000.0, 'km_driven': 25000.0},
    {'selling_price': 240000.0, 'km_driven': 60000.0},
    {'selling_price': 850000.0, 'km_driven': 25000.0},
    {'selling_price': 365000.0, 'km_driven': 78000.0},
    {'selling_price': 260000.0, 'km_driven': 35000.0},
    {'selling_price': 250000.0, 'km_driven': 100000.0},
    {'selling_price': 1650000.0, 'km_driven': 25000.0},
    {'selling_price': 585000.0, 'km_driven': 24000.0},
    {'selling_price': 1195000.0, 'km_driven': 5000.0},
    {'selling_price': 390000.0, 'km_driven': 33000.0},
    {'selling_price': 1964999.0, 'km_driven': 28000.0},
    {'selling_price': 1425000.0, 'km_driven': 59000.0},
    {'selling_price': 975000.0, 'km_driven': 4500.0},
    {'selling_price': 1190000.0, 'km_driven': 175900.0},
    {'selling_price': 930000.0, 'km_driven': 14500.0},
    {'selling_price': 525000.0, 'km_driven': 15000.0},
    {'selling_price': 1735000.0, 'km_driven': 50000.0},
    {'selling_price': 1375000.0, 'km_driven': 33800.0},
    {'selling_price': 450000.0, 'km_driven': 130400.0},
    {'selling_price': 900000.0, 'km_driven': 50000.0},
    {'selling_price': 1300000.0, 'km_driven': 80000.0},
    {'selling_price': 1400000.0, 'km_driven': 10000.0},
    {'selling_price': 850000.0, 'km_driven': 119000.0},
    {'selling_price': 229999.0, 'km_driven': 60000.0},
    {'selling_price': 1550000.0, 'km_driven': 75800.0},
    {'selling_price': 1250000.0, 'km_driven': 78000.0},
    {'selling_price': 625000.0, 'km_driven': 40000.0},
    {'selling_price': 1050000.0, 'km_driven': 50000.0},
    {'selling_price': 560000.0, 'km_driven': 74000.0},
    {'selling_price': 290000.0, 'km_driven': 64000.0},
    {'selling_price': 275000.0, 'km_driven': 60000.0},
    {'selling_price': 411000.0, 'km_driven': 120000.0},
    {'selling_price': 150000.0, 'km_driven': 79000.0},
    {'selling_price': 500000.0, 'km_driven': 15000.0},
    {'selling_price': 100000.0, 'km_driven': 80000.0},
    {'selling_price': 725000.0, 'km_driven': 18500.0},
    {'selling_price': 401000.0, 'km_driven': 10200.0},
    {'selling_price': 750000.0, 'km_driven': 29000.0},
    {'selling_price': 310000.0, 'km_driven': 28000.0},
    {'selling_price': 665000.0, 'km_driven': 46000.0},
    {'selling_price': 465000.0, 'km_driven': 70000.0},
    {'selling_price': 160000.0, 'km_driven': 60000.0},
    {'selling_price': 250000.0, 'km_driven': 35000.0},
    {'selling_price': 675000.0, 'km_driven': 90000.0},
    {'selling_price': 300000.0, 'km_driven': 80000.0},
    {'selling_price': 70000.0, 'km_driven': 80000.0},
    {'selling_price': 240000.0, 'km_driven': 73300.0},
    {'selling_price': 525000.0, 'km_driven': 92000.0},
    {'selling_price': 151000.0, 'km_driven': 66764.0},
    {'selling_price': 140000.0, 'km_driven': 100000.0},
    {'selling_price': 280000.0, 'km_driven': 350000.0},
    {'selling_price': 350000.0, 'km_driven': 230000.0},
    {'selling_price': 570000.0, 'km_driven': 60000.0},
    {'selling_price': 300000.0, 'km_driven': 31000.0},
    {'selling_price': 100000.0, 'km_driven': 39000.0},
    {'selling_price': 500000.0, 'km_driven': 120000.0},
    {'selling_price': 125000.0, 'km_driven': 166000.0},
    {'selling_price': 130000.0, 'km_driven': 110000.0},
    {'selling_price': 925000.0, 'km_driven': 35000.0},
    {'selling_price': 750000.0, 'km_driven': 60000.0},
    {'selling_price': 200000.0, 'km_driven': 54000.0},
    {'selling_price': 248000.0, 'km_driven': 63000.0},
    {'selling_price': 450000.0, 'km_driven': 120000.0},
    {'selling_price': 80000.0, 'km_driven': 120000.0},
    {'selling_price': 650000.0, 'km_driven': 76000.0},
    {'selling_price': 450000.0, 'km_driven': 80000.0},
    {'selling_price': 650000.0, 'km_driven': 25000.0},
    {'selling_price': 495000.0, 'km_driven': 11958.0},
    {'selling_price': 371000.0, 'km_driven': 20000.0},
    {'selling_price': 1025000.0, 'km_driven': 9000.0},
    {'selling_price': 8150000.0, 'km_driven': 6500.0},
    {'selling_price': 750000.0, 'km_driven': 70000.0},
    {'selling_price': 600000.0, 'km_driven': 120000.0},
    {'selling_price': 80000.0, 'km_driven': 58000.0},
    {'selling_price': 325000.0, 'km_driven': 62200.0},
    {'selling_price': 1470000.0, 'km_driven': 34000.0},
    {'selling_price': 350000.0, 'km_driven': 53000.0},
    {'selling_price': 2800000.0, 'km_driven': 49000.0},
    {'selling_price': 210000.0, 'km_driven': 15000.0},
    {'selling_price': 450000.0, 'km_driven': 50000.0},
    {'selling_price': 1150000.0, 'km_driven': 53000.0},
    {'selling_price': 210000.0, 'km_driven': 63500.0},
    {'selling_price': 4500000.0, 'km_driven': 9800.0},
    {'selling_price': 2750000.0, 'km_driven': 13000.0},
    {'selling_price': 1975000.0, 'km_driven': 21000.0},
    {'selling_price': 175000.0, 'km_driven': 29173.0},
    {'selling_price': 2500000.0, 'km_driven': 48000.0},
    {'selling_price': 628000.0, 'km_driven': 120000.0},
    {'selling_price': 600000.0, 'km_driven': 100000.0},
    {'selling_price': 399000.0, 'km_driven': 30000.0},
    {'selling_price': 750000.0, 'km_driven': 87000.0},
    {'selling_price': 750000.0, 'km_driven': 15000.0},
    {'selling_price': 315000.0, 'km_driven': 16000.0},
    {'selling_price': 600000.0, 'km_driven': 60000.0},
    {'selling_price': 100000.0, 'km_driven': 60000.0},
    {'selling_price': 250000.0, 'km_driven': 110000.0},
    {'selling_price': 350000.0, 'km_driven': 25000.0},
    {'selling_price': 780000.0, 'km_driven': 60000.0},
    {'selling_price': 434000.0, 'km_driven': 79350.0},
    {'selling_price': 690000.0, 'km_driven': 80000.0},
    {'selling_price': 555000.0, 'km_driven': 90000.0},
    {'selling_price': 120000.0, 'km_driven': 90000.0},
    {'selling_price': 500000.0, 'km_driven': 120000.0},
    {'selling_price': 165000.0, 'km_driven': 60000.0},
    {'selling_price': 95000.0, 'km_driven': 50000.0},
    {'selling_price': 550000.0, 'km_driven': 20000.0},
    {'selling_price': 100000.0, 'km_driven': 110000.0},
    {'selling_price': 100000.0, 'km_driven': 50000.0},
    {'selling_price': 500000.0, 'km_driven': 100000.0},
    {'selling_price': 800000.0, 'km_driven': 70000.0},
    {'selling_price': 840000.0, 'km_driven': 70000.0},
    {'selling_price': 490000.0, 'km_driven': 50000.0},
    {'selling_price': 125000.0, 'km_driven': 81000.0},
    {'selling_price': 400000.0, 'km_driven': 120000.0},
    {'selling_price': 1000000.0, 'km_driven': 3600.0},
    {'selling_price': 530000.0, 'km_driven': 14272.0},
    {'selling_price': 840000.0, 'km_driven': 49213.0},
    {'selling_price': 229999.0, 'km_driven': 40000.0},
    {'selling_price': 40000.0, 'km_driven': 40000.0},
    {'selling_price': 130000.0, 'km_driven': 80000.0},
    {'selling_price': 200000.0, 'km_driven': 70000.0},
    {'selling_price': 120000.0, 'km_driven': 70000.0},
    {'selling_price': 75000.0, 'km_driven': 57000.0},
    {'selling_price': 250000.0, 'km_driven': 120000.0},
    {'selling_price': 100000.0, 'km_driven': 30000.0},
    {'selling_price': 280000.0, 'km_driven': 3240.0},
    {'selling_price': 540000.0, 'km_driven': 5000.0},
    {'selling_price': 700000.0, 'km_driven': 10000.0},
    {'selling_price': 525000.0, 'km_driven': 100000.0},
    {'selling_price': 430000.0, 'km_driven': 80000.0},
    {'selling_price': 65000.0, 'km_driven': 70000.0},
    {'selling_price': 800000.0, 'km_driven': 35000.0},
    {'selling_price': 75000.0, 'km_driven': 114000.0},
    {'selling_price': 210000.0, 'km_driven': 53772.0},
    {'selling_price': 195000.0, 'km_driven': 140000.0},
    {'selling_price': 400000.0, 'km_driven': 120000.0},
    {'selling_price': 170000.0, 'km_driven': 60000.0},
    {'selling_price': 225000.0, 'km_driven': 25000.0},
    {'selling_price': 210000.0, 'km_driven': 90000.0},
    {'selling_price': 240000.0, 'km_driven': 120000.0},
    {'selling_price': 300000.0, 'km_driven': 175000.0},
    {'selling_price': 99000.0, 'km_driven': 100000.0},
    {'selling_price': 620000.0, 'km_driven': 36000.0},
    {'selling_price': 500000.0, 'km_driven': 30000.0},
    {'selling_price': 2550000.0, 'km_driven': 40000.0},
    {'selling_price': 260000.0, 'km_driven': 70000.0},
    {'selling_price': 550000.0, 'km_driven': 60000.0},
    {'selling_price': 150000.0, 'km_driven': 155500.0},
    {'selling_price': 350000.0, 'km_driven': 50000.0},
    {'selling_price': 320000.0, 'km_driven': 40000.0},
    {'selling_price': 400000.0, 'km_driven': 100000.0},
    {'selling_price': 175000.0, 'km_driven': 80000.0},
    {'selling_price': 120000.0, 'km_driven': 90000.0},
    {'selling_price': 320000.0, 'km_driven': 90000.0},
    {'selling_price': 70000.0, 'km_driven': 110000.0},
    {'selling_price': 810000.0, 'km_driven': 15000.0},
    {'selling_price': 95000.0, 'km_driven': 100000.0},
    {'selling_price': 282000.0, 'km_driven': 40000.0},
    {'selling_price': 80000.0, 'km_driven': 60000.0},
    {'selling_price': 72000.0, 'km_driven': 25000.0},
    {'selling_price': 600000.0, 'km_driven': 25000.0},
    {'selling_price': 640000.0, 'km_driven': 23000.0},
    {'selling_price': 380000.0, 'km_driven': 22155.0},
    {'selling_price': 650000.0, 'km_driven': 70000.0},
    {'selling_price': 150000.0, 'km_driven': 60000.0},
    {'selling_price': 280000.0, 'km_driven': 110000.0},
    {'selling_price': 430000.0, 'km_driven': 30000.0},
    {'selling_price': 800000.0, 'km_driven': 15000.0},
    {'selling_price': 75000.0, 'km_driven': 100000.0},
    {'selling_price': 650000.0, 'km_driven': 70000.0},
    {'selling_price': 390000.0, 'km_driven': 24000.0},
    {'selling_price': 100000.0, 'km_driven': 120000.0},
    {'selling_price': 1500000.0, 'km_driven': 35000.0},
    {'selling_price': 175000.0, 'km_driven': 78380.0},
    {'selling_price': 434999.0, 'km_driven': 110000.0},
    {'selling_price': 170000.0, 'km_driven': 90000.0},
    {'selling_price': 190000.0, 'km_driven': 90000.0},
    {'selling_price': 250000.0, 'km_driven': 150000.0},
    {'selling_price': 229999.0, 'km_driven': 230000.0},
    {'selling_price': 140000.0, 'km_driven': 70000.0},
    {'selling_price': 600000.0, 'km_driven': 80362.0},
    {'selling_price': 280000.0, 'km_driven': 110000.0},
    {'selling_price': 150000.0, 'km_driven': 60000.0},
    {'selling_price': 650000.0, 'km_driven': 50000.0},
    {'selling_price': 210000.0, 'km_driven': 40000.0},
    {'selling_price': 2900000.0, 'km_driven': 40000.0},
    {'selling_price': 425000.0, 'km_driven': 20000.0},
    {'selling_price': 265000.0, 'km_driven': 55000.0},
    {'selling_price': 890000.0, 'km_driven': 1136.0},
    {'selling_price': 365000.0, 'km_driven': 55000.0},
    {'selling_price': 350000.0, 'km_driven': 43000.0},
    {'selling_price': 685000.0, 'km_driven': 60000.0},
    {'selling_price': 940000.0, 'km_driven': 2650.0},
    {'selling_price': 1000000.0, 'km_driven': 40000.0},
    {'selling_price': 1150000.0, 'km_driven': 15000.0},
    {'selling_price': 450000.0, 'km_driven': 115962.0},
    {'selling_price': 590000.0, 'km_driven': 65000.0},
    {'selling_price': 800000.0, 'km_driven': 40000.0},
    {'selling_price': 385000.0, 'km_driven': 58000.0},
    {'selling_price': 2000000.0, 'km_driven': 15000.0},
    {'selling_price': 235000.0, 'km_driven': 54000.0},
    {'selling_price': 640000.0, 'km_driven': 56000.0},
    {'selling_price': 52000.0, 'km_driven': 120000.0},
    {'selling_price': 80000.0, 'km_driven': 90000.0},
    {'selling_price': 140000.0, 'km_driven': 70000.0},
    {'selling_price': 120000.0, 'km_driven': 90000.0},
    {'selling_price': 89999.0, 'km_driven': 213000.0},
    {'selling_price': 180000.0, 'km_driven': 120000.0},
    {'selling_price': 1500000.0, 'km_driven': 20000.0},
    {'selling_price': 700000.0, 'km_driven': 10000.0},
    {'selling_price': 285000.0, 'km_driven': 80000.0},
    {'selling_price': 390000.0, 'km_driven': 90000.0},
    {'selling_price': 125000.0, 'km_driven': 80000.0},
    {'selling_price': 225000.0, 'km_driven': 60000.0},
    {'selling_price': 175000.0, 'km_driven': 139000.0},
    {'selling_price': 1075000.0, 'km_driven': 160000.0},
    {'selling_price': 300000.0, 'km_driven': 150000.0},
    {'selling_price': 700000.0, 'km_driven': 163000.0},
    {'selling_price': 90000.0, 'km_driven': 120000.0},
    {'selling_price': 120000.0, 'km_driven': 120000.0},
    {'selling_price': 220000.0, 'km_driven': 100000.0},
    {'selling_price': 300000.0, 'km_driven': 140000.0},
    {'selling_price': 180000.0, 'km_driven': 87000.0},
    {'selling_price': 170000.0, 'km_driven': 70000.0},
    {'selling_price': 300000.0, 'km_driven': 50000.0},
    {'selling_price': 1050000.0, 'km_driven': 70000.0},
    {'selling_price': 300000.0, 'km_driven': 150000.0},
    {'selling_price': 465000.0, 'km_driven': 25000.0},
    {'selling_price': 130000.0, 'km_driven': 80000.0},
    {'selling_price': 434999.0, 'km_driven': 10000.0},
    {'selling_price': 500000.0, 'km_driven': 32000.0},
    {'selling_price': 200000.0, 'km_driven': 10000.0},
    {'selling_price': 625000.0, 'km_driven': 52000.0},
    {'selling_price': 110000.0, 'km_driven': 120000.0},
    {'selling_price': 800000.0, 'km_driven': 11240.0},
    {'selling_price': 490000.0, 'km_driven': 66000.0},
    {'selling_price': 880000.0, 'km_driven': 64000.0},
    {'selling_price': 290000.0, 'km_driven': 49000.0},
    {'selling_price': 115999.0, 'km_driven': 100000.0},
    {'selling_price': 360000.0, 'km_driven': 26500.0},
    {'selling_price': 65000.0, 'km_driven': 100000.0},
    {'selling_price': 685000.0, 'km_driven': 72000.0},
    {'selling_price': 300000.0, 'km_driven': 50000.0},
    {'selling_price': 680000.0, 'km_driven': 44000.0},
    {'selling_price': 1000000.0, 'km_driven': 60000.0},
    {'selling_price': 100000.0, 'km_driven': 120000.0},
    {'selling_price': 160000.0, 'km_driven': 130000.0},
    {'selling_price': 450000.0, 'km_driven': 70000.0},
    {'selling_price': 600000.0, 'km_driven': 20000.0},
    {'selling_price': 180000.0, 'km_driven': 60000.0},
    {'selling_price': 100000.0, 'km_driven': 195000.0},
    {'selling_price': 120000.0, 'km_driven': 90000.0},
    {'selling_price': 130000.0, 'km_driven': 80000.0},
    {'selling_price': 160000.0, 'km_driven': 155000.0},
    {'selling_price': 860000.0, 'km_driven': 35000.0},
    {'selling_price': 650000.0, 'km_driven': 20000.0},
    {'selling_price': 100000.0, 'km_driven': 80000.0},
    {'selling_price': 282000.0, 'km_driven': 20000.0},
    {'selling_price': 300000.0, 'km_driven': 50000.0},
    {'selling_price': 270000.0, 'km_driven': 110000.0},
    {'selling_price': 550000.0, 'km_driven': 29000.0},
    {'selling_price': 450000.0, 'km_driven': 120000.0},
    {'selling_price': 430000.0, 'km_driven': 70000.0},
    {'selling_price': 350000.0, 'km_driven': 40000.0},
    {'selling_price': 350000.0, 'km_driven': 20000.0},
    {'selling_price': 229999.0, 'km_driven': 50000.0},
    {'selling_price': 110000.0, 'km_driven': 50000.0},
    {'selling_price': 395000.0, 'km_driven': 49000.0},
    {'selling_price': 650000.0, 'km_driven': 70000.0},
    {'selling_price': 350000.0, 'km_driven': 90000.0},
    {'selling_price': 1400000.0, 'km_driven': 25000.0},
    {'selling_price': 360000.0, 'km_driven': 4000.0},
    {'selling_price': 1300000.0, 'km_driven': 10000.0},
    {'selling_price': 800000.0, 'km_driven': 15000.0},
    {'selling_price': 229999.0, 'km_driven': 30000.0},
    {'selling_price': 315000.0, 'km_driven': 41000.0},
    {'selling_price': 125000.0, 'km_driven': 28000.0},
    {'selling_price': 700000.0, 'km_driven': 16000.0},
    {'selling_price': 160000.0, 'km_driven': 70000.0},
    {'selling_price': 530000.0, 'km_driven': 10832.0},
    {'selling_price': 624000.0, 'km_driven': 14681.0},
    {'selling_price': 250000.0, 'km_driven': 50000.0},
    {'selling_price': 585000.0, 'km_driven': 51000.0},
    {'selling_price': 500000.0, 'km_driven': 25000.0},
    {'selling_price': 350000.0, 'km_driven': 30000.0},
    {'selling_price': 495000.0, 'km_driven': 80000.0},
    {'selling_price': 500000.0, 'km_driven': 50000.0},
    {'selling_price': 430000.0, 'km_driven': 200000.0},
    {'selling_price': 345000.0, 'km_driven': 44000.0},
    {'selling_price': 500000.0, 'km_driven': 10000.0},
    {'selling_price': 425000.0, 'km_driven': 19600.0},
    {'selling_price': 80000.0, 'km_driven': 40000.0},
    {'selling_price': 106000.0, 'km_driven': 50000.0},
    {'selling_price': 180000.0, 'km_driven': 46730.0},
    {'selling_price': 250000.0, 'km_driven': 40000.0},
    {'selling_price': 350000.0, 'km_driven': 80000.0},
    {'selling_price': 60000.0, 'km_driven': 80000.0},
    {'selling_price': 900000.0, 'km_driven': 24000.0},
    {'selling_price': 700000.0, 'km_driven': 21170.0},
    {'selling_price': 2000000.0, 'km_driven': 167223.0},
    {'selling_price': 1000000.0, 'km_driven': 40000.0},
    {'selling_price': 1375000.0, 'km_driven': 60000.0},
    {'selling_price': 1800000.0, 'km_driven': 141440.0},
    {'selling_price': 160000.0, 'km_driven': 120000.0},
    {'selling_price': 525000.0, 'km_driven': 140000.0},
    {'selling_price': 850000.0, 'km_driven': 212814.0},
    {'selling_price': 800000.0, 'km_driven': 30000.0},
    {'selling_price': 700000.0, 'km_driven': 88635.0},
    {'selling_price': 800000.0, 'km_driven': 25000.0},
    {'selling_price': 575000.0, 'km_driven': 20000.0},
    {'selling_price': 350000.0, 'km_driven': 110000.0},
    {'selling_price': 250000.0, 'km_driven': 120000.0},
    {'selling_price': 600000.0, 'km_driven': 149674.0},
    {'selling_price': 370000.0, 'km_driven': 100000.0},
    {'selling_price': 80000.0, 'km_driven': 120000.0},
    {'selling_price': 50000.0, 'km_driven': 120000.0},
    {'selling_price': 900000.0, 'km_driven': 25000.0},
    {'selling_price': 300000.0, 'km_driven': 35000.0},
    {'selling_price': 125000.0, 'km_driven': 40000.0},
    {'selling_price': 490000.0, 'km_driven': 60000.0},
    {'selling_price': 300000.0, 'km_driven': 50000.0},
    {'selling_price': 55000.0, 'km_driven': 25000.0},
    {'selling_price': 350000.0, 'km_driven': 25000.0},
    {'selling_price': 755000.0, 'km_driven': 8000.0},
    {'selling_price': 720000.0, 'km_driven': 60000.0},
    {'selling_price': 229999.0, 'km_driven': 200000.0},
    {'selling_price': 1100000.0, 'km_driven': 20000.0},
    {'selling_price': 400000.0, 'km_driven': 100000.0},
    {'selling_price': 350000.0, 'km_driven': 70000.0},
    {'selling_price': 159000.0, 'km_driven': 68000.0},
    {'selling_price': 550000.0, 'km_driven': 38000.0},
    {'selling_price': 335000.0, 'km_driven': 80000.0},
    {'selling_price': 185000.0, 'km_driven': 72000.0},
    {'selling_price': 229999.0, 'km_driven': 75000.0},
    {'selling_price': 225000.0, 'km_driven': 43000.0},
    {'selling_price': 250000.0, 'km_driven': 120000.0},
    {'selling_price': 400000.0, 'km_driven': 100000.0},
    {'selling_price': 470000.0, 'km_driven': 163000.0},
    {'selling_price': 300000.0, 'km_driven': 25000.0},
    {'selling_price': 145000.0, 'km_driven': 25000.0},
    {'selling_price': 100000.0, 'km_driven': 90000.0},
    {'selling_price': 500000.0, 'km_driven': 70000.0},

In [7]:
# import plotly.express as px

In [8]:
# fig = px.histogram(data, x="selling_price",color="transmission")

In [9]:
# fig.show()

In [10]:
# import numpy as np
# np.histogram(data['selling_price'])

In [11]:
# plotbins = list(np.arange(start=xbins['start'], stop=xbins['end']+xbins['size'], step=xbins['size']))

In [12]:
# fig.data[0].count